# Core Libraries
streamlit==1.39.0
langchain==0.3.2
openai-whisper==20240930
opencv-contrib-python==4.9.0.80
numpy==1.26.0

# Natural Language Processing Libraries
transformers==4.45.2
spacy==3.6.0
blis==0.7.9

# Data Visualization and Analysis
pandas==2.1.0
seaborn==0.13.2

# Additional Libraries
pydeck==0.9.1
torchvision==0.18.0
