aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
comtypes
confection
contourpy
cycler
cymem
dataclasses-json
DateTime
debugpy
decorator
distro
executing
filelock
Flask
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
intel-openmp
ipykernel
ipython
itsdangerous
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langsmith
language_data
llvmlite
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mkl
more-itertools
mpmath
multidict
murmurhash
mypy-extensions
narwhals
nest-asyncio
networkx
numba
numpy
openai
openai-whisper
opencv-contrib-python
opencv-python
orjson
packaging
pandas
parso
pillow
platformdirs
preshed
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
pypiwin32
python-dateutil
python-dotenv
pyttsx3
pytz
pywin32; platform_system == "Windows"
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
scipy
seaborn
setuptools
shellingham
six
smart-open
smmap
sniffio
sounddevice
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
streamlit
sympy
tbb
tenacity
thinc
thop
tiktoken
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
ultralytics
uritemplate
urllib3
wasabi
watchdog
wcwidth
weasel
Werkzeug
wheel
whisper
wrapt
yarl
zope.interface
